@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #090017, #240046);
    background-attachment: fixed; /* keeps gradient fixed while scrolling */
    background-size: cover;
    color: white; /* optional: makes text visible */
  }
  
html {
    scroll-behavior: smooth;
  }
  